<template>
<nav class="level">
    <div class="level-left">
        <div class="level-item clickable" @click="goHome()">
            <svg width="33" height="33" viewBox="0 0 36 36" id="tanuki-logo" class="is-active">
                <path id="tanuki-right-ear" class="tanuki-shape" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"></path>
                <path id="tanuki-left-ear" class="tanuki-shape" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"></path>
                <path id="tanuki-nose" class="tanuki-shape" fill="#e24329" d="M18,34.38 3,14 33,14 Z"></path>
                <path id="tanuki-right-eye" class="tanuki-shape" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z"></path>
                <path id="tanuki-left-eye" class="tanuki-shape" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z"></path>
                <path id="tanuki-right-cheek" class="tanuki-shape" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"></path>
                <path id="tanuki-left-cheek" class="tanuki-shape" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"></path>
            </svg>
        </div>
        <div class="level-item clickable" @click="goHome()">
            <span class="is-size-3">Lab Work</span>
        </div>      
    </div>
    <div class="level-right">
        <p class="level-item has-text-centered">
          <a class="link is-info" @click="$router.push('/')">All Apps</a>
        </p>
        <p class="level-item has-text-centered">
            <logout/>
        </p>
    </div>
</nav>
</template>

<style scoped>
@keyframes is-active {
  0% {
    fill: auto; }
  5% {
    fill: white; }
  100% {
    fill: auto; } }

#tanuki-logo {
  max-width: 600px;
  margin: 0 auto; }

.is-active #tanuki-right-cheek {
  animation: is-active 2s infinite;
  animation-delay: 0; }

.is-active #tanuki-right-eye {
  animation: is-active 2s infinite;
  animation-delay: .1s; }

.is-active #tanuki-right-ear {
  animation: is-active 2s infinite;
  animation-delay: .1s; }

.is-active #tanuki-nose {
  animation: is-active 2s infinite;
  animation-delay: .2s; }

.is-active #tanuki-left-eye {
  animation: is-active 2s infinite;
  animation-delay: .3s; }

.is-active #tanuki-left-ear {
  animation: is-active 2s infinite;
  animation-delay: .3s; }

.is-active #tanuki-left-cheek {
  animation: is-active 2s infinite;
  animation-delay: .4s; }

</style>

<script lang="ts">
import Vue from 'vue';

import logout from '@/components/logout.vue';

export default Vue.extend({
  components: {
    logout,
  },
  created() {
    setTimeout(() => {
      let tanuki = <HTMLElement>document.getElementById('tanuki-logo');
      tanuki.classList.remove("is-active");
    }, 5000);
  },
  methods: {
    goHome() {
      this.$router.push('/')
    }
  }
})
</script>