<template>
<div>
  <div id="app" class="container">
    <navbar/>
    <router-view/>
    
  </div>
  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>LabWork</strong> by <a href="https://jgthms.com">Brendan O'Leary</a>. 
          Made with ❤️ in Maryland.
          <br/><br/>
          The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
</div>
</template>

<script lang="ts">
import Vue from 'vue';

import navbar from '@/components/navbar.vue';

export default Vue.extend({
  components: {
    navbar,
  }    
})
</script>

<style lang="scss">
@charset "utf-8";

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$body-background-color: #fafafa;
$footer-background-color: $beige-lighter;

//$hero-body-padding: 1rem .5rem;
$hero-body-padding-large: 18rem 1.5rem;

@import "../node_modules/bulma/bulma.sass";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-top: 1em;
}

.clickable {
    &:hover {
        cursor: pointer;
    }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small-header-icon {
  font-size: 50%;
  vertical-align: middle;
}

.linkdisplay {
    padding-top: .5em;
}

.field {
  .label {
    padding-top: 1em;
  }
}
</style>
